.home-container {
    background-color: #F0F1F3;
    padding-bottom: 100px;
}

.title {
    padding-top: 100px;
}

.btn-primary {
    background-color: #53BF9D !important;
    border: none !important;
}